{
  "all": true,
  "reporter": ["lcov"],
  "exclude": ["cypress/**/*","tests/**/*", "node_modules/**/*", "app/lib/**/*"],
  "check-coverage": true,
  "per-file": true,
  "branches": 100,
  "lines": 100,
  "functions": 100,
  "statements": 100,
  "report-dir": "cypress/coverage",
  "sourceMap": false
}